body {
  font-family: Arial;
  background: #2b2b3c;
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #c084fc;
}

button {
  background: #a855f7;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #9333ea;
}

.menu {
  margin-top: 40px;
}

/* shared box */
.box {
  background: #3b3b55;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
  width: 320px;
}